.slider {
	width: 100%;
	height: 80vw;
	background-color: #ccc;
	display: flex;
	overflow: hidden;
	position: relative;
	margin: 0;
}
.slider:before,
.slider:after {
	content: 'â¯';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	font-size: 400%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 .5rem;
	// background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	z-index: 2;
}
.slider:before {
	transform: rotate(180deg);
}
.slider:after {
	left: auto;
	right: 0;
}
.slider > .slide {
	flex: 0 0 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #fff;
	transition: margin-left 0.3s;
	padding-bottom: var(--size-500);
	position: relative;
	z-index: 1;
}

.slide:before {
	// content: '';
	// display: block;
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// width: 100%;
	// height: 100%;
	// background: rgba(255,255,255,.3);
	// z-index: -1;
}

.slide > div {
	padding: 1rem 3.5rem;
	> * + * {
		padding-top: 1rem;
	}
}

.slide-prayer, .slide-ashley, .slide-book {
	background-repeat: no-repeat;
	p {
		font-family: var(--font-head);
		font-weight: bold;
		font-size: var(--size-400);
		color: var(--tertiary);
		text-align: center;
	}
	a {
		font-size: var(--size-400) !important;
		padding: .5rem !important;
	}
}
.slide-prayer {
	background-size: cover;
	> div {
		background-color: rgba(255,255,255,.75);
	}
}
.slide-ashley {
	background-size: cover;
	> div {
		background-color: rgba(255,255,255,.75);
	}
}
.slide-book {
	background-size: cover;
	background-position: top center;
	background-color: #88D1D5;
	> div {
		display: flex;
		justify-content: space-between;
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		.col1, .col2 {
			flex-basis: auto;
			display: flex;
			flex-direction: column;
		}
		.col1 {
			display: none;
			justify-content: space-between;
			align-items: flex-start;
			padding-top: 0;
		}
		.col2 {
			position: relative;
			justify-content: center;
			align-items: center;
			img {
				max-width: 90%;
				width: 90%;
			}
			a {
				position: absolute;
				bottom: 0;
			}
		}
		.action-wrapper {
			position: absolute;
			display: none;
		}
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.3);
		z-index: -1;
	}
}
@media (min-width: 48rem) {
	.slider {
		height: 45vw;
	}
	.slide > div {
		padding: 1rem 3.5rem;
		> * + * {
			padding-top: 1rem;
		}
	}

	.slide-prayer, .slide-ashley, .slide-book {
		background-repeat: no-repeat;
		p {
			font-family: var(--font-head);
			font-weight: bold;
			color: var(--tertiary);
			text-align: center;
		}
	}
	.slide-prayer {
		background-size: cover;
		> div {
			background-color: rgba(255,255,255,.85);
		}
	}
	.slide-ashley {
		background-size: cover;
		> div {
			background-color: rgba(255,255,255,.85);
		}
	}
	.slide-book {
		background-size: contain;
		background-position: top center;
		background-color: #88D1D5;
		&:before {
			display: none;
		}
		> div {
			display: flex;
			justify-content: space-between;
			height: 100%;
			padding-top: 0;
			.col1, .col2 {
				flex-basis: auto;
				display: flex;
				flex-direction: column;
			}
			.col1 {
				justify-content: space-between;
				align-items: flex-start;
				padding-top: 0;
			}
			.col2 {
				position: relative;
				justify-content: center;
				align-items: flex-end;
				img {
					max-width: 90%;
				}
				a {
					position: absolute;
					bottom: 0;
					left: 50%;
				}
			}
			.action-wrapper {
				position: absolute;
				display: none;
			}
		}
	}
}

@media (min-width: 64rem) {
	.slide-prayer, .slide-ashley, .slide-book {
		p {
			font-size: var(--size-500) !important;
		}
		a {
			font-size: var(--size-500) !important;
			padding: 1rem !important;
		}
	}
}
